/* FONTS */
@font-face {
    font-family: 'Cyberspace';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/Cyberspace.woff"), url('Cyberspace.woff') format('woff');
}
@font-face {
    font-family: 'Azaro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/Azaro.woff"), url('Azaro.woff') format('woff');
}
@font-face {
    font-family: 'SpaceArmor';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/SpaceArmor.woff"), format('woff');
}
/* ROOT */
:root {
    --cp-bg:          #06060a;
	--cp-bg-glass:    #1042e9;
		
	--cp-cyan:        #00f5ff;
	--cp-pink:        #ff0055;
	--cp-yellow:      #ffe600;
	--cp-purple:      #b300ff;
	--cp-green:       #00ff00;
	--cp-lime:        #00ff88;
	--cp-text:        #161515;
	--cp-muted:       #4a5a6a;
	--cp-border:      rgba(0, 247, 255, 0.247);

	--font-logo:   'SpaceArmor', sans-serif;
	--font-mono:   'Сourier Prime', monospace;
	--font-ui:     'Сourier Prime', monospace;

	--nav-h:       4.5rem;
	--max-w:       1400px;
}

/* COMMON */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #171717;
    color: azure;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

section {
    position: relative;
}

li {
    list-style-type: none;
}

a {
    all: unset;
}